/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #edbfb1;
}

/*nav bar*/

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	background-color: #fff;
}

footer {
	padding: 0.7rem; 
	background-color: #fff;
}

/*id selectors*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	/* % was used to make page more responsive. So our pading in left and right are now dependent on the width of the parent element */
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#product-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #07002f;
	color: white;
}
nav {
	text-align: center;
}

/*combinators*/
nav > ul {
	list-style-type: none;
}

/* ., multiple selector - allows us to use multiple selectors for one CSS rule set*/

nav .nav{
	margin: 0.5rem;
	display: inline;
	/* display: inline - allows us to change a block element into an inline element */
}

nav .nav-logo {
	display: block;
}

.nav-logo img {
	border-radius: 150px;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #07002f;
	border-radius: 20px;
	font-size: 1rem;
	padding: 1rem;
}

#product-info {
	text-align: center;
}
#product-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#product-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#product-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: center;
	border: 1px solid #fff;
	padding: 20px;
}

.card img {
	width: 100px;
	height: 100px;
	align-content: center;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
